<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stock Search</title>
    <meta name="description" content="Stock search using symbol">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>


</head>

<body>
    <div class="content">
        <h1 class="title">Stock Search</h1>
        <div class="form-div">
            <form name="stock_search" class="search-form" method="post" action="/company_data"
                onsubmit="submitData(event);">
                <div class="div1">
                    <img class="search-icon" src="{{ url_for('static', filename='img/search-solid.svg') }}"
                        onclick="submitData(event);">
                    <input type=" text" id="smbl" name="symbol" placeholder="Enter Stock Ticker Symbol"
                        autocomplete="off" required>
                </div>
                <div class="div2">
                    <div class="line"></div>
                    <img class="clear-icon" src="{{ url_for('static', filename='img/times-solid.svg') }}"
                        onclick="clearForm()">
                </div>
            </form>
        </div>

        <div id="empty-symbol">
            <div class="yellow-bg">
                <i class="fa fa-exclamation" style="font-size:15px;color:white"></i>
            </div>
            <span id="empty-symbol-msg">Please fill out this field.</span>
        </div>
        <div id="empty-div">Error : No record has been found, please enter a valid symbol</div>

        <div id="display">
            <div class="navbar">
                <a href="" onclick="return getData('company')" class="active" id="company_link">Company</a>
                <a href="" onclick="return getData('stock')" id="stock_link">Stock Summary</a>
                <a href="" onclick="return getData('charts')" id="chart_link">Charts</a>
                <a href="" onclick="return getData('news')" id="news_link">Latest News</a>
            </div>
            <div id="company">
                <table class="company_table">
                    <tbody>
                        <tr>
                            <img id="company_logo" style="text-align: center;">
                        </tr>
                        <tr>
                            <th>Company Name</th>
                            <td id="company_name"></td>
                        </tr>
                        <tr>
                            <th>Stock Ticker Symbol</th>
                            <td id="company_symbol"></td>
                        </tr>
                        <tr>
                            <th>Stock Exchange Code</th>
                            <td id="company_code"></td>
                        </tr>
                        <tr>
                            <th>Company Start Date</th>
                            <td id="company_start_date"></td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td id="company_category"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="stock" class="data">
                <table class="stock_table">
                    <tbody>
                        <tr></tr>
                        <tr>
                            <th>Stock Ticker Symbol</th>
                            <td id="stock_symbol"></td>
                        </tr>
                        <tr>
                            <th>Trading Day</th>
                            <td id="trading_day"></td>
                        </tr>
                        <tr>
                            <th>Previous Closing Price</th>
                            <td id="closing_price"></td>
                        </tr>
                        <tr>
                            <th>Opening Price</th>
                            <td id="opening_price"></td>
                        </tr>
                        <tr>
                            <th>High Price</th>
                            <td id="high_price"></td>
                        </tr>
                        <tr>
                            <th>Low Price</th>
                            <td id="low_price"></td>
                        </tr>
                        <tr>
                            <th>Change</th>
                            <td id="change">
                            </td>
                        </tr>
                        <tr>
                            <th>Change Percent</th>
                            <td id="change_percent">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="box-container">
                    <p class="column-txt" style="color: #ef2d3f;">Strong Sell</p>
                    <div class="column" id="strong_sell" style="background-color: #ef2d3f;">1</div>
                    <div class="column" id="sell" style="background-color: #ba6a52;">2</div>
                    <div class="column" id="hold" style="background-color: #849d6b;">3</div>
                    <div class="column" id="buy" style="background-color: #46d07c;">4</div>
                    <div class="column" id="strong_buy" style="background-color: #07e87f;">55</div>
                    <p class="column-txt" style="color: #02ff8b;">Strong Buy</p>
                </div>
                <p id="rec-trend">Recommendation Trends</p>
            </div>
            <div id="chart" class="data">
                <div id="chart-container"></div>
            </div>
            <div id="news" class="data">
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}" async defer></script>
</body>

</html>