html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('img/back.svg');
    background-position: top;
    background-repeat: no-repeat;
}

.content {
    height: 100vh;
}

.title {
    padding-top: 1%;
    text-align: center;
    font-family: 'Khula', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
}

.form-div {
    display: flex;
    width: 50%;
    height: 2%;
    margin: 0 auto;
    padding: 1%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 2px 2px 0 #e7eaec;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}

.search-icon {
    width: 0.9rem;
    filter: invert(75%);
    margin-left: 2%;
}

.search-icon:hover {
    filter: invert(55%);
}

#smbl {
    border: none;
    outline: none;
    text-align: left;
    margin-left: 5%;
    color: #a1a2a3;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    width: 25rem;
}

#smbl::placeholder {
    color: #a1a2a3;
}

.clear-icon {
    width: 0.6rem;
    filter: invert(75%);
    padding-right: 0.2rem;
}

.clear-icon:hover {
    filter: invert(55%);
}

.line {
    content: "";
    height: 2.7rem;
    border-left: 1px solid #ecedee;
    padding-right: 1rem;
}

.div1,
.div2 {
    display: flex;
}

#empty-symbol {
    display: none;
    border: 0.5px solid #000000;
    border-radius: 2px;
    width: 12%;
    text-align: center;
    margin: 0 28%;
    padding: 0.7% 0.5%;
    background-color: white;
    align-items: center;
}

.yellow-bg {
    background-color: #ff8c00;
    padding: 1px 8px;
    margin-right: 8px;
    border-radius: 2px;
}

#empty-symbol-msg {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#empty-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ececec;
    display: none;
    margin: auto;
    height: 50px;
    width: 50%;
    font-family: 'Khula', sans-serif;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 2% 1.5%;
    font-weight: 300;
}

.navbar {
    background-color: #fafafc;
    padding: 2% 0;
}

.navbar a:hover {
    background-color: #d2d2d2;
}

.active {
    background-color: #d2d2d2;
    padding-left: 0;
}

.data {
    margin: 0 auto;
    text-align: center;
    display: none;
}

#display {
    margin: 12% auto;
    width: 70%;
    height: auto;
    display: none;
    font-family: 'Heebo', sans-serif;
}

#company {
    text-align: center;
    padding-top: 3%;
}

#company_logo {
    width: 9.5%;
    padding-bottom: 1%;
}

.company_table {
    margin: auto;
    width: 53%;
}

.company_table tbody {
    width: 100%;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
}

tbody {
    width: 88%;
    margin: 0;
    display: table;
}

th {
    text-align: right;
}

td {
    text-align: left;
    padding: 0.5% 2.5%;
    width: 50%;
    white-space: nowrap;
    font-weight: 200;
}

td img {
    width: 9%;
    padding: 0 0.5%;
}

.stock_table {
    margin: auto;
    width: 40%;
}

#stock {
    text-align: center;
    padding-top: 3%;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0.5% 0;
    width: 32%;
}

.column {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: min-content;
    padding: 3% 3.5%;
    font-size: 1.2rem;
}

.column-txt {
    padding: 0 2%;
    line-height: 1;
}

#rec-trend {
    margin-top: 0;
    font-size: 1.1rem;
    font-weight: 300;
}

#chart-container {
    background-color: #a1a2a3;
    height: 600px;
}


.news-row {
    display: flex;
    font-family: 'Heebo', sans-serif;
    text-align: left;
    background-color: #fafafc;
    margin: 1.5% 0 3% 0;
    padding: 1.5%;
}

.news-content {
    display: flex;
    padding-left: 2%;
    align-items: start;
    flex-direction: column;
    line-height: 1.2;
}

.news-image {
    width: 100px;
    height: 100px;
}

.news-title {
    margin: 0;
    font-weight: 500;
    font-size: 1.1rem;
}

.news-description {
    margin: 0;
    font-weight: 300;
}

.news-link {
    font-weight: 300;
}