@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400&display=swap');

.title {
  font-weight: 400;
  font-family: 'Khula', sans-serif;
  padding-bottom: 5%;
}

.search-container {
  display: flex;
  align-items: center;
  border: 3px solid #1d279d;
  border-radius: 30px;
  padding: 1.5%;
}

.form-control:focus {
  box-shadow: none;
}

.stock-symbol {
  border: none;
  flex: 1;
  padding: 0;
  font-size: 0.7rem;
  padding-left: 3%;
}

.fas {
  color: #1d279d;
  margin-right: 5px;
  padding-right: 1rem;
}
