h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.stock-container {
  width: 70%;
  padding-top: 2%;
  max-height: 60%;
  overflow: scroll;
}

@media (max-width: 400px) {
  .stock-container {
    width: 100%;
  }
}

.cmpny-detail {
  color: #61606b;
  text-align: center;
}

.col-2,
.col-5 {
  text-align: center;
}

.chnge-data {
  font-size: 1.1rem;
  font-weight: bold;
}

.img-div {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 25%;
  padding: 0;
}

@media(max-width: 400px) {
  .img-div {
    width: 100px;
  }
}

.ticker-logo {
  align-items: stretch;
  width: 50%;
  height: auto;
}

.tabs {
  margin-top: 5%;
}


.price-info {
  margin-left: 15%;
  padding: 5% 0;
  line-height: 1.5;
}

@media (max-width: 400px) {
  .price-info {
    margin: 0;
    text-align: center;
  }
}

#about-company {
  text-decoration: underline;
  text-align: center;
  margin: 2% 0 4% 0;
  font-size: 1.2rem;
}

.buy-btn {
  margin-top: 10%;
  margin-right: 3%;
}

.company-peers {
  list-style-type: none;
  padding: 0;
}

.company-info {
  text-align: center;
  line-height: 2;
}

.news-box {
  display: flex;
}

.news-item {
  border: 1px solid #ccc;
  margin: 4% 0 0 0;
  padding: 2%;
  padding-left: 0;
  border-radius: 5px;
  background-color: #fbfbfb;
}

.news-image {
  display: block;
  /* border-radius: 15%; */
  padding-bottom: 1%;
}

@media(max-width: 400px) {
  .news-item {
    margin: 5% 3% 0 3%;
    padding: 4% 1% 8% 1%;
  }

  .news-image {
    border-radius: 5%;
    margin: 0 auto;
  }
}

.news-content {
  font-size: 0.9rem;
  text-align: center;
}

.bi-star-fill {
  color: #fedd04;
}

.marketStatus {
  text-align: center;
  padding-top: 1%;
}

.sentiments-table {
  margin: auto;
  width: 50%;
  padding: 0 50%;
}

.sentiments-table th,
.sentiments-table td {
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  padding: 1%;
}

@media (max-width: 400px) {
  .sentiments-table {
    width: 80%;
  }

  .sentiments-table th,
  .sentiments-table td {
    padding: 2%;
  }
}

.news-header,
.news-footer {
  display: block !important;
}

.news-modal-title {
  display: flex;
  justify-content: space-between;
}


.modal-subtitle {
  display: block;
  color: #9d9d9d;
  font-weight: bold;
}

.news-footer {
  display: block;
  margin: 5% 3% 3% 3%;
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding-bottom: 0;
}

.share-section {
  margin-right: 20px;
  color: #757577;
}

.news-summary {
  color: #757577;
}

.more-details {
  color: #9a9a9a;
}

.icon-section .share-icon {
  color: black;
  padding: 3%;
}

.close {
  border: none;
  text-decoration: underline;
  background-color: white;
  color: blue;
}

.top-row {
  text-align: center;
}

.bottom-row {
  margin: 3%;
}

.sentiments-title {
  margin: 1%;
}

#quantity {
  display: inline-block;
  width: 75%;
}

#quantity:focus {
  box-shadow: 3 3 2px blue;
}


.modal-footer {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #e1e1e1;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  padding: 0.8% 0;
  font-weight: bold;
  font-size: 0.8rem;
}
